<!--This is the sister-page of yourbuses.html.erb
That one handles the results from the radio button choice, this one handles the results from the dropdown menu choice.-->

<div class= "resultsbg">
<h3>
You are at: <%=@selection %> Station.
</h3>


<h4>
There are <%= @results.count %> bus routes currently.</h4>

<div>
<%= @message %>
</div>

<br>
<%@buses.each do |route, vehicle| %>

<div>
Route:<%= route%> <br>
Vehicle:<%=vehicle %> <br>
</div>	

<br>
<%end%>
</div>