<!DOCTYPE html>
<html>
<head>
<title>MartaApp</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
</head>
<body class="homepage">
<nav class="navbar blue-bg scroll" style="margin-bottom:-20px;" role="navigation">
<div>
<ul class="nav navbar-nav">
<li class="active"><%= link_to "Home", root_path %></li>
<li><%= link_to "Choose Station (Radio Button)", welcome_radioselect_path %></li>
<li><%= link_to "Choose Station (Dropdown)", new_selection_path %></li>
</ul>
</div>
</nav>
<%= yield %>
</body>
</html>
